.header {
  --font-size: 30pt;
}

.header h1 {
  font-size: var(--font-size);
}

.flip-board {
  display: inline-block;
  background-color: var(--board-color);
  height: fit-content;
  font-size: 0;
  border-radius: 5px;
  --internal-margin: 5px;
  --board-color: #1e1e1e;
}

.flip-board>pre {
  display: inline-block;
  color: white;
  margin: var(--internal-margin);
  background-color: var(--board-color);
  font-size: var(--font-size);
  border-radius: 3px;
  box-shadow: inset 0 -3px 5px #3e3e3e, inset -3px 0 5px #4e4e4e;
}

.flip-board>pre::before {
  border-top: var(--height) solid var(--board-color);
  content: " ";
  display: block;
  height: 0;
  transform: translateY(calc((var(--font-size) / 2) + var(--internal-margin) + (var(--height) / 2)));
  position: absolute;
  --height: 3px;
}