# Nuxt dev/build outputs
# (originally .output)
.output/*
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# (added) Don't ignore the build outputs
!.output/public
